.Sed-ut-perspiciatis {
    width: 22.5rem;
    height: 14.188rem;
    margin: 11.563rem 2.5rem 4.313rem 10.688rem;
    font-family: HelveticaNeue;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: var(--white);
  }